* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noticia Text", serif;
}

#container {
  width: 960px;
  margin: 0 auto 20px auto;
}

#content p {
  font-size: 15px;
  margin: 10px 0;
  text-align: justify;
  line-height: 22px;
}

#content sup {
  font-size: 12px;
  vertical-align: super;
  line-height: 14px;
}

blockquote {
  margin: 10px 40px;
}

ul li,
ol li {
  margin-left: 40px;
}

h1 { font-size: 25px; margin-top: 30px; }
h2 { font-size: 23px; margin-top: 35px; }
h3 { font-size: 20px; margin-top: 30px; }
h4 { font-size: 18px; margin-top: 26px; }
h5 { font-size: 16px; margin-top: 16px; }

a {
  color: #0b4baa;
  text-decoration: underline;
}

a:visited {
  color: #3182ed; 
}

body a:hover {
  color: #4b77af; 
  text-decoration: none;
}

code {
  font-family: 'PT Mono', monospace;
  font-size: 0.9em;
}

pre>code,pre>div>code {
  display: block;
  margin: 3px 12px;
  font-size: 13px;
}

code.haskell          { color: #111; }
code.haskell .keyword { font-weight: bold; }
code.haskell .number,
code.haskell .string  { color: #444;  }
code.haskell .comment {  }
code.haskell .title   {  }
code.haskell .type    { color: #010c19; }

code.cf-grammar,
code.peg-grammar      { color: #000; }


.multifigure {
  width: 900px;
}

.multifigure.horizontal figure {
  float: left;
  width: 280px;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
  width: 0;
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
}

#main-menu ul {
  list-style-type: none;
  border-bottom: 4px solid #abbed6;
}

#main-menu li {
  float: left;
  margin: 0;
  padding: 0;
}

#main-menu li a {
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 4px 30px;
  text-decoration: none;
  color: #1355a5;
}

#main-menu li a:hover {
  background-color: #dee7f2;
}

.footnotes {
  border-top: 1px solid #0b4baa;
  width: 90%;
  padding: 20px 5%;
}

#bibliography li {
  margin-top: 10px;
}
