<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<nav id="side-menu">
  <ul>
    <li><a href='intro.html#kapitola_1__vod'>1 Úvod</a>
      <ul>
        <li><a href='intro.html#11_een_lohy'>1.1 Řešené úlohy</a>
        <li><a href='intro.html#12_technick_strnka_prce'>1.2 Technická stránka práce</a>
        <li><a href='intro.html#13_haskell'>1.3 Haskell</a>
        <li><a href='intro.html#14_dokumentace'>1.4 Dokumentace</a>
      </ul>

    <li><a href='krunimir.html#kapitola_2__krunimr_elv_grafika'>2 Krunimír: želví grafika</a>
      <ul>
        <li><a href='krunimir.html#21_popis_jazyka'>2.1 Popis jazyka</a>
        <li><a href='krunimir.html#22_analza'>2.2 Analýza</a>
        <li><a href='krunimir.html#23_'>2.3 <code>Krunimir.Main</code></a>
        <li><a href='krunimir.html#24_'>2.4 <code>Krunimir.Ast</code></a>
        <li><a href='krunimir.html#25_'>2.5 <code>Krunimir.Parser</code></a>
        <li><a href='krunimir.html#26_'>2.6 <code>Krunimir.Trace</code></a>
        <li><a href='krunimir.html#27_'>2.7 <code>Krunimir.Evaluator</code></a>
        <li><a href='krunimir.html#28_'>2.8 <code>Krunimir.PngRenderer</code></a>
        <li><a href='krunimir.html#29_'>2.9 <code>Krunimir.SvgRenderer</code></a>
        <li><a href='krunimir.html#210_pklady'>2.10 Příklady</a>
        <li><a href='krunimir.html#211_zvr'>2.11 Závěr</a>
      </ul>

    <li><a href='banshee.html#kapitola_3__bl_pan_cesta_hradem'>3 Bílá paní: cesta hradem</a>
      <ul>
        <li><a href='banshee.html#31_popis_lohy'>3.1 Popis úlohy</a>
        <li><a href='banshee.html#32_banshee'>3.2 Banshee</a>
        <li><a href='banshee.html#33_analza'>3.3 Analýza</a>
        <li><a href='banshee.html#34_'>3.4 <code>Banshee.Castle</code></a>
        <li><a href='banshee.html#35_'>3.5 <code>Banshee.CastleParser</code></a>
        <li><a href='banshee.html#36_'>3.6 <code>Banshee.Navigate</code></a>
        <li><a href='banshee.html#37_'>3.7 <code>Banshee.Main</code></a>
        <li><a href='banshee.html#38_zvr'>3.8 Závěr</a>
      </ul>
  </ul>
</nav>
<span class="clear">.</span>
