<!DOCTYPE html>
<html lang="cs">
  <head>
    <title>{{ page.title }} (Líně, čistě, funkcionálně)</title>

    <style>
      body {
        font-family: serif;
      }

      #content {
        width: 960px;
        margin: 0 auto;
      }

      .multifigure {
        width: 900px;
      }

      .multifigure figure {
        float: left;
        width: 280px;
        padding: 0;
        margin: 0;
      }

      .clear {
        clear: both;
        width: 0;
        height: 0;
        display: block;
      }
    </style>
  </head>

  <body>
    <div id="content">
{{ content }}
    </div>
  </body>
</html>
